<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>889365257717-lbqnqqpiqn8vhrqb38h2oresp5ofn6ul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889365257717-lbqnqqpiqn8vhrqb38h2oresp5ofn6ul</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ0PTR9UO_f221eLXXcH2PajNdiFY_lIM</string>
	<key>GCM_SENDER_ID</key>
	<string>889365257717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.tomoe.otoishi.Tweetask</string>
	<key>PROJECT_ID</key>
	<string>tweetask-1864a</string>
	<key>STORAGE_BUCKET</key>
	<string>tweetask-1864a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:889365257717:ios:0e6a350b2701fa64</string>
	<key>DATABASE_URL</key>
	<string>https://tweetask-1864a.firebaseio.com</string>
</dict>
</plist>